
a {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin:20px 10px 30px 10px;
  text-decoration: none;

}
a:hover {
  color:#EAF6F6;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
    border-radius: 8px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  background-image: -webkit-gradient(top, #11cdd4, #11999e);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(top, #11cdd4, #11999e);
  text-decoration: none;
}
  .copyright {
    color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
    margin: 40px auto 0 auto;

  }
body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin:0;
  text-align: center;

}
h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin:50 auto 0 auto;

}
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    font-weight: normal;

}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}
hr {
  border-style: dotted;
  border-width: 15px 0 0 0 ;
  color: #EAF6F6;
  width: 10%;
}

.top-container {
  background-color: #EAF6F6;
padding-top: 100px;
  position: relative;
  }

.middle-container {
  margin: 10px auto 10px auto;
}
.bottom-container {
  background-color: #66BFBF;
  margin: 100px auto 0 auto;
  padding-bottom: 50px;
  padding-top: 30px;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top:50px;
}

.bottom-cloud {
    bottom: 300px;
      left: 300px ;
  position: absolute;


}
.skill-row {
    line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;


}
.skill1-img {
  float: left;
  margin-right: 30px;
    width: 25%;
}
.skill2-img {

  float: right;
  margin-left: 30px;
margin-top: 50px;
  width: 25%;
}
.jovica-profilna {
  margin: 80px auto 10px auto;
  width: 25%;
}

.profile {
margin:0 auto 80px auto;
width: 50%;
}
.profile-description {
line-height: 2;
}
.skills {
  margin: 80px auto 50px auto;
}
.contact-me {
  margin-top: 80px;
}
.ifyoulike {
  margin:50px auto 50px auto;
}
.youcancontact {
  margin:0 auto 50px auto;
}
